.myCard{
    width: 250px;
    margin: 0 auto;
    background-color: #fefeff;
   border: .5px solid lightgray;
   border-radius: 10px;
}
.myCard:hover{
box-shadow: 0 5px 10px 0 rgba(8, 8, 8, 0.3);
}

.card-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card-img img{
    width: 250px;
    height: 150px;
    transition: .7s transform;
  
}

.layer{
    position: absolute;
  
    width: 240px;
    margin-left: 5px;
    height: 30px;
    bottom: -10px;
    filter: blur(5px);
}
.card-info{
    position: relative;
    padding: 0 10px 10px 10px;
}
.name{
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    color: rgb(81, 17, 17);
}
.price{
    color: #85b90b;
    font-size: 1.2rem;
}
.card-icon{
    position: absolute;
    top: -40px;
    display: none;
    width: 95%;
    transform: scale(0);
    transition: .5s transform;
   
    
}
.icon-container{
   
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.myCard:hover .card-icon{
    display: block;
    transform: scale(1);

}
.card-icon .fas{
    transition: .2s transform;
}
.card-icon .fas:hover{
    transform: scale(1.1);
}

.card-icon p{
    color: #b1f611;
    font-size: 1.4rem;
    cursor: pointer;
}


@media only screen and (max-width:1080px) {
    .myCard{
        width: 300px;
    }
}

@media only screen and (max-width:768px) {
    .myCard{
        width: 300px;
    }
}

@media only screen and (max-width:680px) {
    .myCard{
        width: 250px;
    }
}

@media only screen and (max-width:550px) {
    .myCard{
        width: 90%;
        margin: 0 auto;
    }
    .card-img{
        text-align: center;
    }
    .card-img img{
        width: 100%;
        text-align: center;
    }
}

